
entrypoint = "server.py"

modules = ["python-3.10", "flask"]

audio = true

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[[ports]]
localPort = 80
externalPort = 3000

[deployment]
deploymentTarget = "cloudrun"
run = ["python3", "server.py"]
