
entrypoint = "src/server.py"

modules = ["python-3.10", "flask"]

audio = true

hidden = [".pythonlibs", "generated-icon.png"]

[nix]
channel = "stable-23_05"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[deployment]
deploymentTarget = "cloudrun"
run = ["python3", "server.py"]
